# config file for DeployPlugin
# sites are expected to have a file at /REVISION
# containing the git sha of the deployed revision
repository_base_path: src
default_project: my_super_site
projects:
  my_super_site:
    url: www.example.com
    staging: staging.example.com
